
.vscode/settings.json
examples.ipynb
logs-tfidf-1/fit/train/events.out.tfevents.1623617202.LAPTOP-5DV4FNVP.17788.94.v2
logs-tfidf-1/fit/train/events.out.tfevents.1623617203.LAPTOP-5DV4FNVP.profile-empty
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.overview_page.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.trace.json.gz
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.xplane.pb
logs-tfidf-1/fit/validation/events.out.tfevents.1623617204.LAPTOP-5DV4FNVP.17788.970.v2
logs-tfidf-2/fit/train/events.out.tfevents.1623617209.LAPTOP-5DV4FNVP.17788.4723.v2
logs-tfidf-2/fit/train/events.out.tfevents.1623617211.LAPTOP-5DV4FNVP.profile-empty
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.overview_page.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.trace.json.gz
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.xplane.pb
logs-tfidf-2/fit/validation/events.out.tfevents.1623617212.LAPTOP-5DV4FNVP.17788.5598.v2
logs-LSTM/fit/train/events.out.tfevents.1623650890.LAPTOP-5DV4FNVP.15924.42602.v2
logs-LSTM/fit/train/events.out.tfevents.1623650896.LAPTOP-5DV4FNVP.profile-empty
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.overview_page.pb
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.trace.json.gz
logs-LSTM/fit/train/plugins/profile/2021_06_14_06_08_16/LAPTOP-5DV4FNVP.xplane.pb
logs-LSTM/fit/validation/events.out.tfevents.1623650897.LAPTOP-5DV4FNVP.15924.45475.v2
logs-tf-embed-1/fit/train/events.out.tfevents.1623647127.LAPTOP-5DV4FNVP.15036.17890.v2
logs-tf-embed-1/fit/train/events.out.tfevents.1623647129.LAPTOP-5DV4FNVP.profile-empty
logs-tf-embed-1/fit/train/events.out.tfevents.1623649238.LAPTOP-5DV4FNVP.15924.359.v2
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.overview_page.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.trace.json.gz
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_05_29/LAPTOP-5DV4FNVP.xplane.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.overview_page.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.trace.json.gz
logs-tf-embed-1/fit/train/plugins/profile/2021_06_14_05_40_39/LAPTOP-5DV4FNVP.xplane.pb
logs-tf-embed-1/fit/validation/events.out.tfevents.1623647130.LAPTOP-5DV4FNVP.15036.18980.v2
logs-tf-embed-1/fit/validation/events.out.tfevents.1623649239.LAPTOP-5DV4FNVP.15924.1449.v2
logs-tf-embed-2/fit/train/events.out.tfevents.1623647137.LAPTOP-5DV4FNVP.15036.22109.v2
logs-tf-embed-2/fit/train/events.out.tfevents.1623647139.LAPTOP-5DV4FNVP.profile-empty
logs-tf-embed-2/fit/train/events.out.tfevents.1623649247.LAPTOP-5DV4FNVP.15924.4578.v2
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.overview_page.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.trace.json.gz
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_05_39/LAPTOP-5DV4FNVP.xplane.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.overview_page.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.trace.json.gz
logs-tf-embed-2/fit/train/plugins/profile/2021_06_14_05_40_50/LAPTOP-5DV4FNVP.xplane.pb
logs-tf-embed-2/fit/validation/events.out.tfevents.1623647140.LAPTOP-5DV4FNVP.15036.23199.v2
logs-tf-embed-2/fit/validation/events.out.tfevents.1623649251.LAPTOP-5DV4FNVP.15924.5668.v2
