
.vscode/settings.json
examples.ipynb
logs-tfidf-1/fit/train/events.out.tfevents.1623617202.LAPTOP-5DV4FNVP.17788.94.v2
logs-tfidf-1/fit/train/events.out.tfevents.1623617203.LAPTOP-5DV4FNVP.profile-empty
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.overview_page.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.trace.json.gz
logs-tfidf-1/fit/train/plugins/profile/2021_06_13_20_46_43/LAPTOP-5DV4FNVP.xplane.pb
logs-tfidf-1/fit/validation/events.out.tfevents.1623617204.LAPTOP-5DV4FNVP.17788.970.v2
logs-tfidf-2/fit/train/events.out.tfevents.1623617209.LAPTOP-5DV4FNVP.17788.4723.v2
logs-tfidf-2/fit/train/events.out.tfevents.1623617211.LAPTOP-5DV4FNVP.profile-empty
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.input_pipeline.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.kernel_stats.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.memory_profile.json.gz
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.overview_page.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.tensorflow_stats.pb
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.trace.json.gz
logs-tfidf-2/fit/train/plugins/profile/2021_06_13_20_46_51/LAPTOP-5DV4FNVP.xplane.pb
logs-tfidf-2/fit/validation/events.out.tfevents.1623617212.LAPTOP-5DV4FNVP.17788.5598.v2
